@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.2rem;
    height: 100vh;
    margin: 0;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: "Poppins", sans-serif;
}
button {
    font-family: "Poppins", sans-serif;
}
.container-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: medium;
}

.container-original,
.container-chipered {
    background-color: #181818;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    pointer-events: none;
    background-color: rgb(36, 36, 36) !important;
}

.container-counter {
    background-color: #181818;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#up {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 128, 0, 0.5);
}

#up:hover {
    background-color: rgba(0, 128, 0, 0.75);
    cursor: pointer;
}

#down {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(206, 0, 0, 0.5);
}

#down:hover {
    background-color: rgba(206, 0, 0, 0.75);
    cursor: pointer;
}

#submit {
    background-color: #2c3e50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: #34495e;
}

#restart {
    background-color: #5a0000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#restart:hover {
    background-color: #da0000;
}

.container-counter > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    gap: 4rem;
}

.container-counter > div > button,
.container-counter > button {
    padding: 0.5rem 1rem;
}

.container-counter > button {
    padding: 1rem 2rem;
    font-size: medium;
    margin-bottom: -50px;
}

.container-game > div {
    padding: 0.2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.container-status > button {
    padding: 1rem 2rem;
}

.correct {
    animation: correctBuzzer 0.8s;
    transition: 0.8s;
}

.correctButFaster {
    animation: correctBuzzerCounter 0.8s;
    transition: 0.8s;
}

.wrong {
    animation: wrongBuzzer 0.8s;
    transition: 0.8s;
}

.wrongButFaster {
    animation: wrongBuzzerCounter 0.8s;
    transition: 0.8s;
}

@keyframes correctBuzzer {
    0% {
        transform: rotate(0deg);
        background-color: rgb(17, 17, 17);
    }

    50% {
        transform: rotate(180deg);
        background-color: rgb(0, 69, 0);
    }

    100% {
        transform: rotate(260deg);
        background-color: rgb(17, 17, 17);
    }
}

@keyframes correctBuzzerCounter {
    0% {
        transform: rotate(0deg);
        background-color: #181818;
    }

    50% {
        transform: rotate(720deg);
        background-color: rgb(0, 69, 0);
    }

    100% {
        transform: rotate(1440deg);
        background-color: #181818;
    }
}

@keyframes wrongBuzzer {
    0% {
        transform: rotate(0deg);
        background-color: rgb(17, 17, 17);
    }

    50% {
        transform: rotate(180deg);
        background-color: rgb(69, 0, 0);
    }

    100% {
        transform: rotate(360deg);
        background-color: rgb(17, 17, 17);
    }
}

@keyframes wrongBuzzerCounter {
    0% {
        transform: rotate(0deg);
        background-color: #181818;
    }

    50% {
        transform: rotate(720deg);
        background-color: rgb(69, 0, 0);
    }

    100% {
        transform: rotate(1440deg);
        background-color: #181818;
    }
}
